@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lights {
  0%,
  50% {
    background-position: 0 0;
  }
  50.0001%,
  100% {
    background-position: 0 -69px;
  }
}

#lights {
  position: absolute;
  width: 100%;
  height: 69px;
  background: url("/lights.png") repeat-x;
  animation: lights 1s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(120vw);
  }
  100% {
    transform: translateX(-120vw);
  }
}

.animate-marquee {
  animation: slide 6s linear infinite;
}

.animate-reverse {
  animation-direction: reverse;
}
